 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        
        <!--==================== SWIPER CSS====================-->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

        <!--==================== CSS ==========-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Danial Amin-Data Scientist and Aerospace Engineer </title>
        <meta name="description" content="Danial Amin,
        Data Scientist with 05 years of hands-on experience in Engineering Data
        , Google Certified, IBM Certified, AWS Certified">
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
</head>
